@charset "UTF-8";
/******************右边fixed部分 */
/* line 2, ../sass/details.scss */
#fixed {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 36px;
  height: 100%;
  background-color: #262626;
}
/* line 10, ../sass/details.scss */
#fixed .cart {
  color: #fff;
  background-color: #df147f;
  font-size: 14px;
  padding: 0 11px;
  margin-top: 125px;
}
/* line 17, ../sass/details.scss */
#fixed a {
  color: #fff;
  display: block;
  padding: 8px 0;
}

/* line 24, ../sass/details.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/details.scss */
.FW-product {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  padding-top: 22px;
  z-index: 10;
}

/* line 37, ../sass/details.scss */
.M-pic {
  float: left;
  position: relative;
}

/* line 42, ../sass/details.scss */
.f-hide,
.hidden {
  display: none;
}

/* line 47, ../sass/details.scss */
.sold-tag {
  position: absolute;
  top: -2px;
  right: -3px;
  z-index: 100;
}

/* line 54, ../sass/details.scss */
.pic-sliderwrap {
  width: 420px;
  height: 420px;
  position: relative;
  z-index: 99;
  margin-bottom: 7px;
}

/* line 63, ../sass/details.scss */
.show-midpic {
  width: 420px;
  height: 420px;
  position: relative;
  text-align: center;
  background-color: #f7f7f7;
}

/* line 71, ../sass/details.scss */
.icon-a {
  background-image: url(../images/sprites-hash.png);
  background-position: -162px -234px;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 100;
}

/* line 83, ../sass/details.scss */
.zoomPad {
  float: left;
  position: relative;
  z-index: 99;
  text-align: center;
  width: 420px;
  height: 420px;
  overflow: hidden;
}

/* line 94, ../sass/details.scss */
.zoomPup {
  overflow: hidden;
  background-color: #fff;
  opacity: .6;
  filter: alpha(opacity=60);
  position: absolute;
  border: 1px solid #ccc;
  z-index: 101;
}

/* line 105, ../sass/details.scss */
.zoomWindow {
  position: absolute;
  left: 0;
  top: 0;
  width: 420px;
  height: 420px;
  z-index: 110;
}

/* line 114, ../sass/details.scss */
.zoomWrapper {
  position: relative;
  z-index: 110;
  margin: 0 auto;
}

/* line 120, ../sass/details.scss */
.pic-slider {
  position: relative;
  width: 420px;
  height: 64px;
  overflow: hidden;
  text-align: center;
}

/* line 128, ../sass/details.scss */
.pic-slider-wrap {
  overflow: hidden;
  display: inline-block;
}

/* line 133, ../sass/details.scss */
.pic-slider-items {
  width: 62px;
  height: 62px;
  margin: 0 7px 0 0;
  float: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
}
/* line 144, ../sass/details.scss */
.pic-slider-items:hover {
  border: 1px solid #f10180;
}

/* line 149, ../sass/details.scss */
.pic-slider-items img {
  z-index: 10;
}

/* line 153, ../sass/details.scss */
.pic-slider-items:last-child {
  margin-right: 0;
}

/* line 157, ../sass/details.scss */
.M-productInfo {
  overflow: visible;
}

/* line 161, ../sass/details.scss */
.M-productInfo {
  float: right;
  width: 550px;
  position: relative;
  min-height: 634px;
}

/* line 168, ../sass/details.scss */
.product-content-inner {
  min-height: 538px;
  _height: 536px;
}

/* line 173, ../sass/details.scss */
.pib-title-class {
  display: block;
  color: #007cff;
  width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
  line-height: 22px;
  min-height: 22px;
}

/* line 186, ../sass/details.scss */
.pib-title-detail {
  font-size: 16px;
  color: #333;
  max-height: 40px;
  overflow: hidden;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

/* line 197, ../sass/details.scss */
.goods-description-title {
  font-size: 14px;
  color: #999;
  max-height: 85px;
  overflow: hidden;
}

/* line 204, ../sass/details.scss */
.special-price .pi-price-box {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 209, ../sass/details.scss */
.pi-price-box {
  background: #f9f9f9;
  margin-bottom: 20px;
  position: relative;
  z-index: 13;
  _width: 500px;
  _padding-left: 0;
}

/* line 218, ../sass/details.scss */
.spcecialPrice-box {
  color: #333;
  background-color: #f9f9f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px;
}

/* line 227, ../sass/details.scss */
.hasSpecialSvip .spcecialPrice-box .sp-info {
  margin-top: 0;
}

/* line 231, ../sass/details.scss */
.spcecialPrice-box .sp-info {
  float: left;
  height: 60px;
  position: relative;
  overflow: hidden;
  max-width: 339px;
}

/* line 239, ../sass/details.scss */
.spcecialPrice-box .sp-title {
  font-size: 14px;
  background: #de3d96;
  border-radius: 32.5px;
  padding: 2px 8px;
  margin-top: 18px;
  color: #fff;
  float: left;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 253, ../sass/details.scss */
.special-price .spcecialPrice-box .pbox-yen {
  font-size: 24px;
  float: left;
}

/* line 258, ../sass/details.scss */
.spcecialPrice-box .sp-price {
  font-size: 38px;
  font-family: arial;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

/* line 268, ../sass/details.scss */
.spcecialPrice-box .sp-postfix {
  font-size: 20px;
  color: #333;
  margin-left: 3px;
  float: left;
  margin-top: 13px;
}

/* line 276, ../sass/details.scss */
.special-price .pbox-market,
.special-price .sp-discount {
  padding-left: 10px;
  padding-right: 0;
  float: left;
  margin-top: 20px;
  font-size: 16px;
  color: #999;
}

/* line 286, ../sass/details.scss */
.special-price .pbox-market,
.special-price .sp-discount {
  padding-left: 10px;
  padding-right: 0;
  float: left;
  margin-top: 20px;
  font-size: 16px;
  color: #999;
}

/* line 296, ../sass/details.scss */
.spcecialPrice-box .sp-info .pbox-yen {
  margin-top: 13px;
  margin-left: 8px;
}

/* line 302, ../sass/details.scss */
#sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  cursor: move;
}

/* line 314, ../sass/details.scss */
#bf {
  width: 420px;
  height: 420px;
  position: absolute;
  left: 420px;
  z-index: 9;
  background: whitesmoke;
  visibility: hidden;
  overflow: hidden;
}

/* line 325, ../sass/details.scss */
#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 332, ../sass/details.scss */
.pi-attr-box {
  position: relative;
  z-index: 10;
}
/* line 336, ../sass/details.scss */
.pi-attr-box dt {
  float: left;
  font-size: 12px;
  width: 40px;
  text-align: left;
  color: #999;
  line-height: 32px;
  overflow: hidden;
}
/* line 346, ../sass/details.scss */
.pi-attr-box dd {
  float: left;
}

/* line 351, ../sass/details.scss */
.cartAdd-form {
  position: relative;
  z-index: 5;
}
/* line 355, ../sass/details.scss */
.cartAdd-form span {
  color: #333;
  font-size: 12px;
}

/* line 361, ../sass/details.scss */
.g-delivery-address {
  z-index: 20;
  position: relative;
}

/* line 366, ../sass/details.scss */
.i-freight {
  position: relative;
  z-index: 14;
  margin-top: 5px;
  line-height: 32px;
}

/* line 373, ../sass/details.scss */
.i-color {
  padding-top: 12px;
  position: relative;
  z-index: 12;
  min-height: 40px;
}

/* line 380, ../sass/details.scss */
.color-list {
  width: 500px;
}

/* line 384, ../sass/details.scss */
.color-list-item {
  float: left;
  height: 32px;
  _height: 31px;
  position: relative;
  margin: 0 10px 9px 0;
}

/* line 392, ../sass/details.scss */
.color-list .color-soldOut {
  background-color: #e5e5e5;
  color: #666;
}

/* line 397, ../sass/details.scss */
.color-list-item a {
  display: inline-block;
  height: 28px;
  max-width: 396px;
  min-width: 68px;
  padding: 1px;
  border: 1px solid #ccc;
}

/* line 406, ../sass/details.scss */
.color-pic-wrapper {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #f7f7f7;
}

/* line 413, ../sass/details.scss */
.i-select {
  background-image: url(../images/sprites-hash.png);
  background-position: -144px -170px;
  width: 17px;
  height: 16px;
  bottom: -1px;
  right: -1px;
}

/* line 422, ../sass/details.scss */
.pi-attr-box dt {
  float: left;
  font-size: 12px;
  width: 40px;
  text-align: left;
  color: #999;
  line-height: 32px;
  overflow: hidden;
}

/* line 432, ../sass/details.scss */
.color-list .color-selected {
  padding: 0;
  border: 2px solid #f43499;
}

/* line 437, ../sass/details.scss */
.pib-title {
  color: #4d4d4d;
  margin-bottom: 10px;
  clear: both;
}

/* line 443, ../sass/details.scss */
.color-item-name {
  float: left;
  text-align: center;
  max-width: 343px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 15px 0 10px;
  line-height: 28px;
  vertical-align: top;
}

/* line 455, ../sass/details.scss */
.num-box {
  position: relative;
  height: 28px;
  border: 1px solid #b3b3b3;
}

/* line 461, ../sass/details.scss */
.ui-quantity {
  display: inline-block;
  width: 73px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #e3e2e2;
  color: #333;
  vertical-align: top;
  text-align: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

/* line 474, ../sass/details.scss */
.num-box .num-add,
.num-box .num-input,
.num-box .num-reduce {
  float: left;
  height: 28px;
  line-height: 28px;
}

/* line 482, ../sass/details.scss */
.ui-quantity .z-disable,
.ui-quantity .z-disable:active,
.ui-quantity .z-disable:hover {
  background-color: #f9f8f8;
  color: #dad8d8;
}

/* line 489, ../sass/details.scss */
.ui-quantity .z-disable {
  cursor: not-allowed;
}

/* line 493, ../sass/details.scss */
.vipFont {
  font-family: vipFont;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 504, ../sass/details.scss */
.ui-quantity .amount {
  float: left;
  width: 29px;
  height: 100%;
  line-height: 28px;
  font-size: 12px;
  border-left: 1px solid #e4e3e3;
  border-right: 1px solid #e4e3e3;
  overflow: hidden;
}

/* line 515, ../sass/details.scss */
.ui-quantity a {
  float: left;
  width: 21px;
  height: 100%;
  line-height: 28px;
  font-size: 15px;
  color: #7d7c7c;
  background-color: #f9f8f8;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

/* line 527, ../sass/details.scss */
.i-button {
  _height: 35px;
  margin-bottom: 12px;
  margin-left: 40px;
  margin-top: 20px;
}

/* line 534, ../sass/details.scss */
.button-box {
  height: 46px;
  margin-right: 20px;
  position: relative;
}

/* line 540, ../sass/details.scss */
.button-box .ui-btn-large {
  width: 198px;
}

/* line 544, ../sass/details.scss */
.ui-btn-loading,
button.ui-btn-loading {
  padding: 0;
  overflow: hidden;
}

/* line 550, ../sass/details.scss */
button.ui-btn-big,
button.ui-btn-large {
  height: 46px;
}

/* line 555, ../sass/details.scss */
.ui-btn-primary,
.ui-btn1 {
  background-color: #f10180;
  border: 1px solid #f10180;
}

/* line 561, ../sass/details.scss */
.ui-btn-big,
.ui-btn-large,
.ui-btn-medium,
.ui-btn-mini,
.ui-btn-nor,
.ui-btn-small {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  _overflow-y: hidden;
  color: #fff;
}

/* line 579, ../sass/details.scss */
.ui-btn-big,
.ui-btn-large {
  min-width: 72px;
  _width: 72px;
  padding: 0 35px;
  font: 18px/44px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', sans-serif;
  _line-height: 48px;
  height: 44px;
}
