/* line 1, ../sass/details.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/details.scss */
.FW-product {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  padding-top: 22px;
  z-index: 10;
}

/* line 12, ../sass/details.scss */
.M-pic {
  float: left;
  position: relative;
}

/* line 16, ../sass/details.scss */
.f-hide, .hidden {
  display: none;
}

/* line 19, ../sass/details.scss */
.sold-tag {
  position: absolute;
  top: -2px;
  right: -3px;
  z-index: 100;
}

/* line 25, ../sass/details.scss */
.pic-sliderwrap {
  width: 420px;
  height: 420px;
  position: relative;
  z-index: 99;
  margin-bottom: 7px;
  background-color: #f7f7f7;
}

/* line 33, ../sass/details.scss */
.show-midpic {
  width: 420px;
  height: 420px;
  position: relative;
  text-align: center;
}

/* line 39, ../sass/details.scss */
.icon-a {
  background-image: url(../images/sprites-hash.png);
  background-position: -162px -234px;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 100;
}

/* line 50, ../sass/details.scss */
.zoomPad {
  float: left;
  position: relative;
  z-index: 99;
  text-align: center;
  width: 420px;
  height: 420px;
  overflow: hidden;
}

/* line 60, ../sass/details.scss */
.zoomPup {
  overflow: hidden;
  background-color: #fff;
  opacity: .6;
  filter: alpha(opacity=60);
  position: absolute;
  border: 1px solid #ccc;
  z-index: 101;
}

/* line 70, ../sass/details.scss */
.zoomWindow {
  position: absolute;
  left: 0;
  top: 0;
  width: 420px;
  height: 420px;
  z-index: 110;
}

/* line 78, ../sass/details.scss */
.zoomWrapper {
  position: relative;
  z-index: 110;
  margin: 0 auto;
}

/* line 83, ../sass/details.scss */
.pic-slider {
  position: relative;
  width: 420px;
  height: 64px;
  overflow: hidden;
  text-align: center;
}

/* line 90, ../sass/details.scss */
.pic-slider-wrap {
  overflow: hidden;
  display: inline-block;
}

/* line 94, ../sass/details.scss */
.pic-slider-items {
  width: 62px;
  height: 62px;
  margin: 0 7px 0 0;
  float: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
}
/* line 104, ../sass/details.scss */
.pic-slider-items:hover {
  border: 1px solid #f10180;
}

/* line 108, ../sass/details.scss */
.pic-slider-items img {
  z-index: 10;
}

/* line 111, ../sass/details.scss */
.pic-slider-items:last-child {
  margin-right: 0;
}

/* line 114, ../sass/details.scss */
.M-productInfo {
  overflow: visible;
}

/* line 117, ../sass/details.scss */
.M-productInfo {
  float: right;
  width: 550px;
  position: relative;
  z-index: 100;
  min-height: 634px;
}

/* line 124, ../sass/details.scss */
.product-content-inner {
  min-height: 538px;
  _height: 536px;
}

/* line 128, ../sass/details.scss */
.pib-title-class {
  display: block;
  color: #007cff;
  width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
  line-height: 22px;
  min-height: 22px;
}

/* line 140, ../sass/details.scss */
.pib-title-detail {
  font-size: 16px;
  color: #333;
  max-height: 40px;
  overflow: hidden;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

/* line 150, ../sass/details.scss */
.goods-description-title {
  font-size: 14px;
  color: #999;
  max-height: 85px;
  overflow: hidden;
}

/* line 156, ../sass/details.scss */
.special-price .pi-price-box {
  padding-bottom: 10px;
}

/* line 159, ../sass/details.scss */
.pi-price-box {
  background: #f9f9f9;
  margin-bottom: 20px;
  position: relative;
  z-index: 13;
  _width: 500px;
  _padding-left: 0;
}

/* line 167, ../sass/details.scss */
.spcecialPrice-box {
  color: #333;
  background-color: #f9f9f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px;
}

/* line 175, ../sass/details.scss */
.hasSpecialSvip .spcecialPrice-box .sp-info {
  margin-top: 0;
}

/* line 178, ../sass/details.scss */
.spcecialPrice-box .sp-info {
  float: left;
  height: 60px;
  position: relative;
  overflow: hidden;
  max-width: 339px;
}

/* line 185, ../sass/details.scss */
.spcecialPrice-box .sp-title {
  font-size: 14px;
  background: #de3d96;
  border-radius: 32.5px;
  padding: 2px 8px;
  margin-top: 18px;
  color: #fff;
  float: left;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 198, ../sass/details.scss */
.special-price .spcecialPrice-box .pbox-yen {
  font-size: 24px;
  float: left;
}

/* line 202, ../sass/details.scss */
.spcecialPrice-box .sp-price {
  font-size: 38px;
  font-family: arial;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

/* line 211, ../sass/details.scss */
.spcecialPrice-box .sp-postfix {
  font-size: 20px;
  color: #333;
  margin-left: 3px;
  float: left;
  margin-top: 13px;
}

/* line 218, ../sass/details.scss */
.special-price .pbox-market, .special-price .sp-discount {
  padding-left: 10px;
  padding-right: 0;
  float: left;
  margin-top: 20px;
  font-size: 16px;
  color: #999;
}

/* line 226, ../sass/details.scss */
.special-price .pbox-market, .special-price .sp-discount {
  padding-left: 10px;
  padding-right: 0;
  float: left;
  margin-top: 20px;
  font-size: 16px;
  color: #999;
}

/* line 234, ../sass/details.scss */
.spcecialPrice-box .sp-info .pbox-yen {
  margin-top: 13px;
  margin-left: 8px;
}

/* line 239, ../sass/details.scss */
#sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  cursor: move;
}

/* line 250, ../sass/details.scss */
#bf {
  width: 400px;
  height: 500px;
  border: 1px solid #000;
  float: left;
  overflow: hidden;
  position: relative;
  left: 10px;
  visibility: hidden;
}

/* line 261, ../sass/details.scss */
#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 267, ../sass/details.scss */
.pi-attr-box {
  position: relative;
  z-index: 10;
}
/* line 270, ../sass/details.scss */
.pi-attr-box dt {
  float: left;
  font-size: 12px;
  width: 40px;
  text-align: left;
  color: #999;
  line-height: 32px;
  overflow: hidden;
}
/* line 279, ../sass/details.scss */
.pi-attr-box dd {
  float: left;
}

/* line 283, ../sass/details.scss */
.cartAdd-form {
  position: relative;
  z-index: 5;
}
/* line 286, ../sass/details.scss */
.cartAdd-form span {
  color: #333;
  font-size: 12px;
}

/* line 291, ../sass/details.scss */
.g-delivery-address {
  z-index: 20;
  position: relative;
}

/* line 295, ../sass/details.scss */
.i-freight {
  position: relative;
  z-index: 14;
  margin-top: 5px;
  line-height: 32px;
}

/* line 301, ../sass/details.scss */
.i-color {
  padding-top: 12px;
  position: relative;
  z-index: 12;
  min-height: 40px;
}

/* line 307, ../sass/details.scss */
.color-list {
  width: 500px;
}

/* line 310, ../sass/details.scss */
.color-list-item {
  float: left;
  height: 32px;
  _height: 31px;
  position: relative;
  margin: 0 10px 9px 0;
}

/* line 317, ../sass/details.scss */
.color-list .color-soldOut {
  background-color: #e5e5e5;
  color: #666;
}

/* line 321, ../sass/details.scss */
.color-list-item a {
  display: inline-block;
  height: 28px;
  max-width: 396px;
  min-width: 68px;
  padding: 1px;
  border: 1px solid #ccc;
}

/* line 329, ../sass/details.scss */
.color-pic-wrapper {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #f7f7f7;
}

/* line 335, ../sass/details.scss */
.i-select {
  background-image: url(../images/sprites-hash.png);
  background-position: -144px -170px;
  width: 17px;
  height: 16px;
  bottom: -1px;
  right: -1px;
}

/* line 343, ../sass/details.scss */
.pi-attr-box dt {
  float: left;
  font-size: 12px;
  width: 40px;
  text-align: left;
  color: #999;
  line-height: 32px;
  overflow: hidden;
}

/* line 352, ../sass/details.scss */
.color-list .color-selected {
  padding: 0;
  border: 2px solid #f43499;
}

/* line 356, ../sass/details.scss */
.color-item-name {
  float: left;
  text-align: center;
  max-width: 343px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 15px 0 10px;
  line-height: 28px;
  vertical-align: top;
}
