/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/shopList.scss */
.list-wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../sass/shopList.scss */
.list-wrap .goods-list {
  margin-bottom: 60px;
  padding-bottom: 10px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 300px;
  margin-top: 20px;
  position: relative;
  margin-left: 1px;
  letter-spacing: -0.1em;
  *letter-spacing: normal;
  word-spacing: -0.2em;
  z-index: 9;
}
/* line 19, ../sass/shopList.scss */
.list-wrap .goods-list .inner {
  width: 1020px;
}
/* line 24, ../sass/shopList.scss */
.list-wrap .goods-card {
  position: relative;
  z-index: 1;
  width: 235px;
  margin-right: 20px;
  margin-bottom: 20px;
  letter-spacing: 0;
  word-spacing: 0;
  vertical-align: top;
  display: inline-block;
}
/* line 34, ../sass/shopList.scss */
.list-wrap .goods-card .content {
  position: relative;
  z-index: 1;
}
/* line 38, ../sass/shopList.scss */
.list-wrap .goods-card .goods-img {
  position: relative;
  z-index: 1;
  width: 235px;
  margin-bottom: 10px;
}
/* line 43, ../sass/shopList.scss */
.list-wrap .goods-card .goods-img a {
  display: block;
  width: 235px;
  height: 297px;
}
/* line 49, ../sass/shopList.scss */
.list-wrap .goods-card .hot-tip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 45px;
  height: 45px;
}
/* line 58, ../sass/shopList.scss */
.list-wrap .goods-price {
  width: 235px;
  height: 30px;
  line-height: 30px;
  margin-top: -10px;
  background-color: #de3d96;
  background: -webkit-linear-gradient(180deg, #cb78dc 0, #de3d96 100%);
  background: linear-gradient(270deg, #cb78dc 0, #de3d96 100%);
}
/* line 67, ../sass/shopList.scss */
.list-wrap .price-box {
  font-size: 14px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 225px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 77, ../sass/shopList.scss */
.list-wrap .price-box .discount-price {
  font-size: 24px;
  margin-left: 2px;
}
/* line 82, ../sass/shopList.scss */
.list-wrap .goods-footer {
  display: inline-block;
  width: 235px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #666;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 92, ../sass/shopList.scss */
.list-wrap .goods-footer .origin-price {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  font-size: 16px;
  color: #999;
}
/* line 99, ../sass/shopList.scss */
.list-wrap .goods-footer .goods-discount {
  float: inherit;
  margin-left: 8px;
  font-size: 14px;
  color: #999;
  padding: 0;
  border: 0;
}
/* line 108, ../sass/shopList.scss */
.list-wrap .goods-title-info {
  max-height: 36px;
  font-weight: 400;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 114, ../sass/shopList.scss */
.list-wrap .goods-title-info a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
