/* line 2, ../sass/shopList.scss */
.list-wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../sass/shopList.scss */
.list-wrap .goods-list {
  margin-bottom: 60px;
  padding-bottom: 10px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 300px;
  margin-top: 20px;
  position: relative;
  margin-left: 1px;
  letter-spacing: -0.1em;
  *letter-spacing: normal;
  word-spacing: -0.2em;
  z-index: 9;
}
/* line 19, ../sass/shopList.scss */
.list-wrap .goods-list .inner {
  width: 1020px;
}
/* line 24, ../sass/shopList.scss */
.list-wrap .goods-card {
  position: relative;
  z-index: 1;
  width: 235px;
  margin-right: 20px;
  margin-bottom: 20px;
  letter-spacing: 0;
  word-spacing: 0;
  vertical-align: top;
  display: inline-block;
}
/* line 34, ../sass/shopList.scss */
.list-wrap .goods-card .content {
  position: relative;
  z-index: 1;
}
/* line 38, ../sass/shopList.scss */
.list-wrap .goods-card .goods-img {
  position: relative;
  z-index: 1;
  width: 235px;
  margin-bottom: 10px;
}
/* line 43, ../sass/shopList.scss */
.list-wrap .goods-card .goods-img a {
  display: block;
  width: 235px;
  height: 297px;
}
/* line 49, ../sass/shopList.scss */
.list-wrap .goods-card .hot-tip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 45px;
  height: 45px;
}
/* line 58, ../sass/shopList.scss */
.list-wrap .goods-price {
  width: 235px;
  height: 30px;
  line-height: 30px;
  margin-top: -10px;
  background-color: #de3d96;
  background: -webkit-linear-gradient(180deg, #cb78dc 0, #de3d96 100%);
  background: linear-gradient(270deg, #cb78dc 0, #de3d96 100%);
}
/* line 67, ../sass/shopList.scss */
.list-wrap .price-box {
  font-size: 14px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 225px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 77, ../sass/shopList.scss */
.list-wrap .price-box .discount-price {
  font-size: 24px;
  margin-left: 2px;
}
/* line 82, ../sass/shopList.scss */
.list-wrap .goods-footer {
  display: inline-block;
  width: 235px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #666;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 92, ../sass/shopList.scss */
.list-wrap .goods-footer .origin-price {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  font-size: 16px;
  color: #999;
}
/* line 99, ../sass/shopList.scss */
.list-wrap .goods-footer .goods-discount {
  float: inherit;
  margin-left: 8px;
  font-size: 14px;
  color: #999;
  padding: 0;
  border: 0;
}
/* line 108, ../sass/shopList.scss */
.list-wrap .goods-title-info {
  max-height: 36px;
  font-weight: 400;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 114, ../sass/shopList.scss */
.list-wrap .goods-title-info a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
